# Dependencies
node_modules/
**/node_modules/

# Build output
dist/
dist-ssr/
**/dist/
**/dist-ssr/

# Logs
*.log
npm-debug.log*

# OS files
.DS_Store
Thumbs.db

# Editor
.vscode/*
!.vscode/extensions.json
.idea/
*.sw?

# Local env
*.local
.env
.env.*
!.env.example

# Coverage
coverage/
.git-commit-msg.tmp
